.list-container{
    max-width: 450px;
}

.list-group-item{
  display: flex;
  }

.due-date{
    /* display: block; */
    font:
      18px 'Fira Sans',
      sans-serif;
  }
  
.btn-edit{

  margin-right: 10px;
}
.list-time{
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0px 20px 30px 0;
  }

.input-submit{
    display: flex;
    justify-content: space-between;
}
.btn-info{
    height: 40px;
}

.form-control{
    width: 400px;
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.button-52:after {
  content: "";
  background-color: #69e9ff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}